<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!--<param-value>/WEB-INF/applicationContext.xml</param-value> -->
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>

	<!-- Spring 监听(载入 Spring ApplicationContext) -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring 刷新Introspector 防止内存泄露 -->
	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- 扩展 spring bean 的作用域有 request,session,global session 等 -->
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>


	<!-- Spring session 管理 -->
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>AUTO</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Struts 2.1 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<jsp-config>
		<!-- Struts Tag Library Descriptors -->
		<taglib>
			<taglib-uri>/s</taglib-uri>
			<taglib-location>/WEB-INF/struts-tags.tld</taglib-location>
		</taglib>

		<!-- displaytag -->
		<taglib>
			<taglib-uri>/display</taglib-uri>
			<taglib-location>/WEB-INF/displaytag-12.tld</taglib-location>
		</taglib>

	</jsp-config>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
